#steelBlueColor {
    background-color: steelblue;
    min-height: 74px; 
    min-width: 199px;
    margin: 20px;
    border-radius: 6px;
    box-shadow: 0px 0px 8px 2px darkblue;
    cursor: pointer;
    filter: opacity(.8);
}

#purpleColor {
    background-color: purple;
    min-height: 76px; 
    min-width: 201px;
    margin: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 1px darkmagenta;
    cursor: pointer;
    filter: opacity(.6);
}

#steelBlueColor:hover,
#purpleColor:hover {
    filter: none;
}
